.ipynb_checkpoints/
data/building/BUILDLIC.zip
data/building/BUILDLIC.json
data/building/tainan/shanhua.pkl
data/building/tainan/Tainan0.pkl
data/building/tainan/old/
data/earthquake/eq_cwb/2017ASCII/
data/earthquake/eq_cwb/2017grd/
data/earthquake/eq_cwb/2017xml/
data/earthquake/eq_ncree/106/
d